name = "danmu-api"
main = "cf_worker.js"
compatibility_date = "2024-09-21"


# 基础环境变量（公开配置）
[vars]
ENABLE_ASYMMETRIC_AUTH_ENV = "false"
ENABLE_DETAILED_LOGGING = "true"
USER_AGENT_LIMITS_CONFIG = '''{{USER_AGENT_LIMITS_CONFIG}}'''


# KV 绑定配置
[[kv_namespaces]]
binding = "RATE_LIMIT_KV"
id = "3f2e505906b04bbf85d47b9194706d1d"

